*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
}



form{
    background-color: rgb(0, 0, 0); 
    max-width:80%;
    min-height:25vw;
    border: 5px white solid;
    display: flex;
    margin: 50px auto;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

h1{
  font-family: "Jacquard 12", system-ui;
  font-weight: 800;
  font-style: normal;
    font-style: normal;
    color: white;
    font-size: 85px;
    margin: 25px;
    overflow-wrap: break-word;
}

fieldset{
    max-width: 100%;

}
fieldset legend{
        color: white;
  font-family: "Jacquard 12", system-ui;
  font-weight: 800;
  font-style: normal;
    font-style: normal;
    font-size: 45px;

}

input{
    min-height: 35px;
    padding: 5px;
    min-width: 100%;
    font-family: Arial;
}

textarea{
    min-height: 35px;
    font-family: Arial;
    height: 250px;
    min-width: 100%;
}


button{
      font-family: "Jacquard 12", system-ui;
    font-weight: 800;
    font-style: normal;
    font-style: normal;
    height: 15vw;
    color: white;
    width: 100%;
    font-size: 55px;
    border: 5px white solid;
    background-color: rgb(0, 0, 0);
}


@media (max-width:500px) {
    button{
       font-size: 25px;
    }
}



